* {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, Sans-serif, serif;
	font-size: 12px;
	background-color: #eff5f9;
	box-sizing: border-box;
}
.headerMenu {
	background-image: url(../img/menubg.png);
	height: 56px;
	border-bottom: 0;
	width: 100%;
}
#wrapper {
	background-image: url(../img/menubg.png);
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	height: 56px;
	padding-top: 0;
	padding-bottom: 0;
}
.logo {
	background-image: url(../img/menubg.png);
	padding-top: 8px;
}
.logo img {
	background-image: url(../img/menubg.png);
	width: 150px;
	height: 38px;
}
@media screen and (max-width: 1280px) {
#menu{
	background-image: url(../img/menubg.png);
	position: absolute;
	top: 0;
	right: 0;
	height: 37px;
	padding-top: 19px;
	margin-right: 4%;
}
}
@media screen and (min-width: 1280px) {
#menu{
	background-image: url(../img/menubg.png);
	position: absolute;
	top: 0;
	right: 0;
	height: 37px;
	padding-top: 19px;
	margin-right: 6%;
}
}
@media screen and (min-width: 1920px) {
#menu{
	background-image: url(../img/menubg.png);
	position: absolute;
	top: 0;
	right: 0;
	height: 37px;
	padding-top: 19px;
	margin-right: 25%;
}
}
#menu a {
	color: #FFFFFF;
	text-decoration: none;
	font-size: 14px;
	background-image: url(../img/menubg.png);
	background-repeat: no-repeat;
	padding: 19px 10px 22px;
}
#menu a:hover {
	background-image: url(../img/menubg_hovermouseover.png);
}

h2 {
	font-family: Arial, Helvetica, Sans-serif, serif;
	font-size: 30px;
	padding: 8px;
	color: #0084c6;
	text-align: center;
	/* margin-left: 24%;*/
}

h2 {
	font-family: Arial, Helvetica, Sans-serif, serif;
	font-size: 25px;
	padding: 8px;
	color: #0084c6;
	text-align: center;
}

input[type="text"] {
	background-color: #FFFFFF;
	border: 1px solid #E2E2E2;
	font-size: 15px;
	padding: 5px;
	width: 300px;
	margin-bottom: 3px;
	margin-top: 3px;
	outline: none;
}

input[type="text"]:hover {
	border: 1px solid #006FC4;
}

input[type="password"] {
	background-color: #FFFFFF;
	border: 1px solid #E2E2E2;
	font-size: 15px;
	padding: 5px;
	width: 300px;
	margin-bottom: 3px;
	margin-top: 3px;
	outline: none;
}

input[type="password"]:hover {
	border: 1px solid #006FC4;
}

input[type="submit"] {
	background-color: #006FC4;
	border: 1px solid #00508D;
	font-size: 15px;
	color:#FFFFFF;
	padding: 5px;
	margin-bottom: 3px;
	margin-top: 3px;
	border-radius: 7px;
}

body{
	height: 100vh;
	width: 100%;
}

.profile-pic-div{
	height: 100px;
	width: 100px;
	position: relative;
	margin-left: 30%;
	overflow: hidden;
	border-radius: 50%;
	border: 1px solid grey;
}

#photo{
	height: 100%;
	width: 100%;
}

#file{
	display: none;
}

#uploadBtn{
	height: 40px;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	background: rgba(0,0,0,0.7);
	color: wheat;
	line-height: 30px;
	font-family: Arial, Helvetica, Sans-serif, serif;
	font-size: 15px;
	cursor: pointer;
}

.homeimage{
	text-align: center;
}