<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About us</title>
    <link rel="stylesheet" type="text/css" href="/scss/style.css" />
    <link rel="shortcut icon" href="/img/favicon.ico"/>
</head>
<body>
<div class="headerMenu">
  <div id ="wrapper">
    <div class="logo">
      <img src="/img/logo.png" alt="Image of the Highlight Logo"/>
    </div>
    <div id="menu">
      <a href="/" >Home</a>
      <a href="/signup" >Sign Up</a>
      <a href="/signin" >Sign In</a>
    </div>
  </div>

  <div>
    <br /><br />
    <div class="main">
      <h1>
        About us!
      </h1>
      <p>
        This web site was created by 4 <b>Computer Engineering</b> students for a Web Development project @ <span><b>University of Madeira</b></span> !
      </p>
    </div>
  </div>

</div>
</body>
</html>