<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="headerMenu">
  <div id ="wrapper">
    <div class="logo">
      <img src="/img/logo.png" alt="Image of the Highlight Logo"/>
    </div>
  </div>
  <div>
    <p>
      This web site was develop by 4 informatics engineering students (Joao Cupido, Pedro Rodrigues ,Diogo Santos, Michael Costa )on a project in the subjet of web-based development in University of Madeira!
    </p>
    <p>

    </p>

  </div>

</div>
</body>
</html>