<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Highlight</title>
		<link rel="stylesheet" type="text/css" href="/scss/style.css" />
		<link rel="shortcut icon" href="/img/favicon.ico"/>
	</head>
<body>
	<div class="headerMenu">
		<div id ="wrapper">
			<div class="logo">
				<img src="/img/logo.png" alt="Image of the Highlight Logo"/>
			</div>
			<div id="menu">
				<a href="/" >Home</a>
				<a href="/signup" >Sign Up</a>
				<a href="/signin" >Sign In</a>
				<a href="/about"> About us! </a>
			</div>
		</div>
	</div>
	<br/>
	<div style="width: 50%; margin: 0 auto 0 auto;">
		<p>Create an account and start High<span class="invert">light</span>ing today!</p>
			<table>
				<tr>
					<br/><br/>
					<td width="100%" valign="top">
						<form action="/signup/" method="POST">
							<div class="profile-pic-div">
								<label>
									<input type="radio" name="avatar" id="pp1" class="input-hidden" value="/img/simpleavatar1.png" required/>
									<label for="pp1">
										<img src="/img/simpleavatar1.png" alt="Avatar #1" />
									</label>
									<input type="radio" name="avatar" id="pp2" class="input-hidden" value="/img/simpleavatar2.png"/>
									<label for="pp2">
										<img src="/img/simpleavatar2.png" alt="Avatar #2" />
									</label>
									<input type="radio" name="avatar" id="pp3" class="input-hidden" value="/img/simpleavatar3.png"/>
									<label for="pp3">
										<img src="/img/simpleavatar3.png" alt="Avatar #3" />
									</label>
									<input type="radio" name="avatar" id="pp4" class="input-hidden" value="/img/simpleavatar4.png"/>
									<label for="pp4">
										<img src="/img/simpleavatar4.png" alt="Avatar #4" />
									</label>
								</label>
								<!-- FONTE: https://codepen.io/DavidBradbury/pen/HuCqx -->
							</div><br />
							<input type="text" name="username" size="25" placeholder="Username" maxlength="16" required /><br /><br />
							<input type="password" name="password" id="myInput" size="25" placeholder="Password" required /><br /><br />
							<input type="checkbox" onclick="myFunction()"> Show Password<br /><br />
							<script>
							function myFunction() {
							  var x = document.getElementById("myInput");
							  if (x.type === "password") {
								x.type = "text";
							  } else {
								x.type = "password";
							  }
							}
							</script>
							<input type="password" id="myInput1" size="25" placeholder="Confirm Password" required /><br /><br />
							<script>
							var password = document.getElementById("myInput"), confirm_password = document.getElementById("myInput1");
							function validatePassword(){
							  if(password.value !== confirm_password.value) {
								confirm_password.setCustomValidity("Passwords Don't Match");
							  } else {
								confirm_password.setCustomValidity('');
							  }
							}
							password.onchange = validatePassword;
							confirm_password.onkeyup = validatePassword;
							</script>
							<input type="submit" name="submit" value="Create Account">
							<br/><br/>
							<div> Already have an account? <a href="/signin/">Sign in</a></div>
						</form>
					</td>
				</tr>
			</table>
	</div>
</body>
</html>