* {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, Sans-serif, serif;
	font-size: 12px;
	background-color: #eff5f9;
	box-sizing: border-box;
}

.headerMenu {
	background-image: url(../img/menubg.png);
	height: 56px;
	border-bottom: 0;
	width: 100%;
}

#wrapper {
	background-image: url(../img/menubg.png);
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	height: 56px;
	padding-top: 0;
	padding-bottom: 0;
}

.logo {
	background-image: url(../img/menubg.png);
	padding-top: 8px;
}

.logo img {
	background-image: url(../img/menubg.png);
	width: 150px;
	height: 38px;
}

@media screen and (max-width: 1280px) {
#menu{
	background-image: url(../img/menubg.png);
	position: absolute;
	top: 0;
	right: 0;
	height: 37px;
	padding-top: 19px;
	margin-right: 4%;
}
}

@media screen and (min-width: 1280px) {
#menu{
	background-image: url(../img/menubg.png);
	position: absolute;
	top: 0;
	right: 0;
	height: 37px;
	padding-top: 19px;
	margin-right: 6%;
}
}

@media screen and (min-width: 1920px) {
#menu{
	background-image: url(../img/menubg.png);
	position: absolute;
	top: 0;
	right: 0;
	height: 37px;
	padding-top: 19px;
	margin-right: 25%;
}
}

#menu a {
	color: #FFFFFF;
	text-decoration: none;
	font-size: 14px;
	background-image: url(../img/menubg.png);
	background-repeat: no-repeat;
	padding: 19px 10px 22px;
}

#menu a:hover {
	background-image: url(../img/menubg_hovermouseover.png);
}

h2 {
	font-family: Arial, Helvetica, Sans-serif, serif;
	font-size: 30px;
	padding: 8px;
	color: #0084c6;
	text-align: center;
	/* margin-left: 24%;*/
}

h2 {
	font-family: Arial, Helvetica, Sans-serif, serif;
	font-size: 25px;
	padding: 8px;
	color: #0084c6;
	text-align: center;
}

input[type="text"] {
	background-color: #FFFFFF;
	border: 1px solid #E2E2E2;
	font-size: 15px;
	padding: 5px;
	width: 300px;
	margin-bottom: 3px;
	margin-top: 3px;
	outline: none;
}

input[type="text"]:hover, input[type="password"]:hover {
	border: 1px solid #006FC4;
}

input[type="password"] {
	background-color: #FFFFFF;
	border: 1px solid #E2E2E2;
	font-size: 15px;
	padding: 5px;
	width: 300px;
	margin-bottom: 3px;
	margin-top: 3px;
	outline: none;
}


input[type="submit"] {
	background-color: #006FC4;
	border: 6px solid #00508D;
	font-size: 15px;
	color:#FFFFFF;
	padding: 5px;
	margin-bottom: 3px;
	margin-top: 3px;
	border-radius: 7px;
}

body{
	height: 100vh;
	width: 100%;
}

/* FONTE: https://codepen.io/DavidBradbury/pen/HuCqx */

.input-hidden {
	position: absolute;
	left: -9999px;
}

input[type=radio]:checked + label>img {
	border: 1px solid #fff;
	box-shadow: 0 0 3px 3px #090;
}

/* Stuff after this is only to make things more pretty */
input[type=radio] + label>img {
	border: 1px dashed #444;
	width: 150px;
	height: 150px;
	transition: 500ms all;
}

input[type=radio]:checked + label>img {
	transform:
			rotateZ(-10deg)
			rotateX(10deg);
}


.homeimage{
	text-align: center;
}

input[type="text_msg"]{
	background-color: #FFFFFF;
	border: 1px solid #E2E2E2;
	font-size: 15px;
	padding: 5px;
	width: 300px;
	margin-bottom: 3px;
	margin-top: 3px;
	outline: none;
}

#Chat_Rooms{
	position: absolute;
	left: 0px;
	width: 150px;
	height: 300px;
	background: #e6f7ff;
	border: 3px solid #000000;
	padding: 10px;
}

#friends_list {
	position: absolute;
	right: 60px;
	width: 150px;
	height: 300px;
	background: #e6f7ff;
	border: 3px solid #000000;
	padding: 10px;
}

#live_feed {
	position: absolute;
	right: 100px;
	left: 100px;
	margin: 0 auto;
	margin-bottom: 25px;
	padding: 10px;
	background: #e6f7ff;
	height: 300px;
	width: 530px;
	border: 1px solid #000000;
	overflow: auto;
	border-radius: 4px;
	border-bottom: 4px solid #000000;
}

.myavatar{
	position: relative;
	height: 300px;
	width: 300px;
}

.myavatar img{
	position: absolute;
	left: 0;
	bottom: 0;
}

.myavatar p{
	position: absolute;
	left: 0;
	bottom: 0;
}