@charset "UTF-8";
/* defining global variables */
:root {
  --main-header-height: 80px;
  /* used for the website's header */
  --color-blue: #006FC4;
  --color-dark-blue: #00508D;
  --color-yellow: #ffd400;
  --color-white: #eff5f9;
  --color-black: #000000;
  --color-background: #000000;
  /* old: #eff5f9 */
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, Sans-serif, serif;
  font-size: 12px;
  box-sizing: border-box;
}

body {
  background-color: var(--color-white);
}

.headerMenu {
  background-color: var(--color-blue);
  height: var(--main-header-height);
  border-bottom: 0;
  width: 100%;
}

#wrapper {
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 80%;
  padding-top: 0;
  padding-bottom: 0;
}

.logo {
  background: transparent;
  padding: 1rem;
  max-height: var(--main-header-height);
  width: 50%;
}

.logo img {
  background: transparent;
  max-height: var(--main-header-height);
  width: auto;
}

#menu {
  background: transparent;
  height: var(--main-header-height);
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 15%;
  /* tentando arranjar isto para que fique de modo a que se alinhe corretamente à direita como o logo se alinha à esquerda */
  display: flex;
  align-items: center;
  justify-content: center;
}

#menu a {
  background: var(--color-black);
  color: var(--color-white);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  height: 75%;
  padding: 1rem;
  border: solid 1px var(--color-black);
  margin: 2px;
}
#menu a:hover {
  background-color: var(--color-yellow);
  border: solid 6px var(--color-black);
  color: var(--color-black);
  transition: background-color 400ms linear;
  transition: border 180ms ease;
}

div.main {
  margin: auto;
  padding: 1rem;
  width: 70%;
  background-color: var(--color-blue);
  border-radius: 4rem;
  border: solid 1rem var(--color-dark-blue);
}

img.main {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75%;
}

span {
  --fg: var(--color-yellow);
  --bg: var(--color-black);
  font-size: inherit;
  color: var(--fg);
  background-color: var(--bg);
}
span.invert {
  --fg: var(--color-black);
  --bg: var(--color-yellow);
}
span:hover {
  color: var(--bg);
  background-color: var(--fg);
}

.profile-pic-div {
  width: clamp(450px, 100%, 800px);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

p {
  text-align: center;
  font-size: 20px;
  color: var(--color-white);
  background-color: var(--color-black);
  width: 75%;
  padding: 2rem 1rem;
  margin: auto;
}

h2 {
  font-family: Arial, Helvetica, Sans-serif, serif;
  font-size: 30px;
  padding: 8px;
  color: var(--color-black);
  background-color: transparent;
  text-align: center;
}

input[type=password], input[type=text] {
  background-color: white;
  font-size: 15px;
  padding: 5px;
  width: 300px;
  margin-bottom: 3px;
  margin-top: 3px;
  outline: none;
  border: 1px solid var(--color-white);
}
input[type=password]:hover, input[type=text]:hover {
  border: 1px solid var(--color-blue);
}

input[type=submit] {
  background-color: var(--color-blue);
  border: 6px solid #00508D;
  font-size: 15px;
  color: #FFFFFF;
  padding: 5px;
  margin-bottom: 3px;
  margin-top: 3px;
  border-radius: 7px;
}

/* FONTE: https://codepen.io/DavidBradbury/pen/HuCqx */
.input-hidden {
  position: absolute;
  left: -9999px;
}

input[type=radio]:checked + label > img {
  border: 1px solid #fff;
  box-shadow: 0 0 3px 3px #090;
}

/* Stuff after this is only to make things more pretty */
input[type=radio] + label > img {
  border: 1px dashed #444;
  width: 150px;
  height: 150px;
  transition: 500ms all;
}

input[type=radio]:checked + label > img {
  transform: rotateZ(-10deg) rotateX(10deg);
}

.homeimage {
  text-align: center;
  width: 50%;
  height: auto;
}

input[type=text_msg] {
  background-color: var(--color-white);
  border: 1px solid var(--color-white);
  font-size: 15px;
  padding: 5px;
  width: 300px;
  margin-bottom: 3px;
  margin-top: 3px;
  outline: none;
}

#Chat_Rooms {
  position: absolute;
  left: 10px;
  width: 350px;
  height: 620px;
  background: #e6f7ff;
  border: 3px solid #000000;
  padding: 10px;
}

#friends_list {
  position: absolute;
  right: 60px;
  width: 150px;
  height: 300px;
  background: #e6f7ff;
  border: 3px solid #000000;
  padding: 10px;
}

#live_feed {
  position: absolute;
  right: 100px;
  left: 100px;
  margin: 0 auto 25px;
  padding: 10px;
  background: #e6f7ff;
  height: 620px;
  width: 900px;
  border: 1px solid #000000;
  overflow: auto;
  border-radius: 4px;
  border-bottom: 4px solid #000000;
}

#my_avatar {
  position: absolute;
  left: 15px;
  bottom: 15px;
}

#usernamelogin {
  position: relative;
  right: 15px;
}

#feed_form {
  position: absolute;
  left: 500px;
  bottom: 170px;
}

/*# sourceMappingURL=style.css.map */
