:root {
  --main-header-height: 80px;
  /* used for the website's header */
  --color-blue: #006FC4;
  --color-dark-blue: #00508D;
  --color-soft-blue: #e6f7ff;
  --color-yellow: #ffd400;
  --color-white: #eff5f9;
  --color-black: #000000;
  --color-background: #eff5f9;
}

.headerMenu {
  background-color: var(--color-blue);
  height: var(--main-header-height);
  border-bottom: 0;
  width: 100%;
}

#wrapper {
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 80%;
  padding-top: 0;
  padding-bottom: 0;
}

.logo {
  background: transparent;
  padding: 1rem;
  max-height: var(--main-header-height);
  width: 50%;
}

.logo img {
  background: transparent;
  max-height: var(--main-header-height);
  width: auto;
}

#menu {
  background: transparent;
  height: var(--main-header-height);
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#menu a {
  background: var(--color-black);
  color: var(--color-white);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  height: 75%;
  padding: 1rem;
  border: solid 1px var(--color-black);
  margin: 2px;
  user-select: none;
}
#menu a:hover, #menu a:focus {
  background-color: var(--color-yellow);
  border: solid 6px var(--color-black);
  color: var(--color-black);
  transition: background-color 400ms linear;
  transition: border 180ms ease;
}

p {
  text-align: center;
  font-size: 20px;
  color: var(--color-white);
  background-color: var(--color-black);
  width: max(75%, 300px);
  padding: 2rem 1rem;
  margin: auto;
}

b {
  font-size: inherit;
  font-family: inherit;
  font-weight: bold;
}

h2 {
  font-family: Arial, Helvetica, Sans-serif, serif;
  font-size: 30px;
  padding: 8px;
  color: var(--color-black);
  background-color: transparent;
  text-align: center;
}

h1 {
  font-family: Arial, Helvetica, Sans-serif, serif;
  font-size: 42px;
  text-align: center;
  padding: 2rem;
}

span.highlight {
  --fg: var(--color-yellow);
  --bg: var(--color-black);
  font-size: inherit;
  color: var(--fg);
  background-color: var(--bg);
}
span.highlight.invert {
  /* the invert class inverts the colors of the span */
  --fg: var(--color-black);
  --bg: var(--color-yellow);
}
span.highlight:hover {
  color: var(--bg);
  background-color: var(--fg);
  cursor: default;
}

.profile-pic-div {
  width: clamp(450px, 100%, 800px);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

input[type=password], input[type=text] {
  background-color: white;
  font-size: 15px;
  padding: 5px;
  width: 300px;
  margin-bottom: 3px;
  margin-top: 3px;
  outline: none;
  border: 1px solid var(--color-white);
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
}
input[type=password]:hover, input[type=text]:hover {
  border: 1px solid var(--color-blue);
}

input[type=submit] {
  background-color: var(--color-blue);
  border: 6px solid #00508D;
  font-size: 15px;
  color: #FFFFFF;
  padding: 5px;
  margin-bottom: 3px;
  margin-top: 3px;
  border-radius: 7px;
}
input[type=submit]:hover {
  cursor: pointer;
}

/* FONTE: https://codepen.io/DavidBradbury/pen/HuCqx */
.input-hidden {
  position: absolute;
  left: -9999px;
}

input[type=radio]:checked + label > img {
  border: 1px solid #fff;
  box-shadow: 0 0 3px 3px #090;
}

/* Stuff after this is only to make things more pretty */
input[type=radio] + label > img {
  border: 1px dashed #444;
  width: 150px;
  height: 150px;
  transition: 500ms all;
}

input[type=radio]:checked + label > img {
  transform: rotateZ(-10deg) rotateX(10deg);
}

div.main {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  padding: 1rem;
  width: max(75%, 300px);
  background-color: var(--color-blue);
  border-radius: 2rem;
  border: solid 6px var(--color-dark-blue);
}

img.main {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75%;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, Sans-serif, serif;
  font-size: 12px;
  box-sizing: border-box;
}

body {
  background-color: var(--color-background);
}

.grid_wrapper {
  background-color: var(--color-soft-blue);
  display: grid;
  grid-template-columns: 25% 50% 25%;
  height: max(60%, 620px);
  margin: 2rem;
  outline: 4px solid var(--color-black);
}

#live_feed, #chatroom_invitations, #chatrooms {
  padding: 16px;
  border: 1px solid var(--color-black);
}

#live_feed {
  height: 620px;
  width: 100%;
  position: relative;
}

/* OLD
#live_feed {
  position: absolute;
  right: 100px;
  left: 100px;
  margin: 0 auto 25px;
  padding: 10px;
  background: #e6f7ff;
  height: 620px;
  width: 920px;
  border: 1px solid #000000;
  overflow: auto;
  border-radius: 4px;
  border-bottom: 4px solid #000000;
}

#div_invitations {
  position: absolute;
  right: 10px;
  width: 350px;
  height: 620px;
  background: #e6f7ff;
  border: 3px solid #000000;
  padding: 10px;
}

#Chat_Rooms{
  position: absolute;
  left: 10px;
  width: 350px;
  height: 620px;
  background: #e6f7ff;
  border: 3px solid #000000;
  padding: 10px;
} */
#titleroom {
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#messages {
  overflow: auto;
  height: 400px;
  width: 97%;
  position: absolute;
  bottom: 0;
  margin-bottom: 8px;
}
#messages li {
  font-size: 15px;
  margin: 2px auto;
  padding: 8px;
  border-radius: 2px;
  list-style-type: none;
}
#messages li.comment {
  padding-left: 16px;
  padding-bottom: 0px;
}
#messages li.message {
  background-color: #F5DEB3;
}

li.message .message-username, li.comment .message-username {
  font-weight: bold;
}

button.comment, button.reply {
  margin-left: 8px;
  display: inline-block;
  padding: 1px;
  bottom: 0;
  background-color: var(--color-soft-blue);
  border: solid 1px var(--color-black);
}
button.comment img, button.reply img {
  width: 14px;
  height: 14px;
  padding: 1px;
}
button.comment:hover, button.comment:focus, button.reply:hover, button.reply:focus {
  border: solid 1px var(--color-blue);
}

#chatrooms form input[type=button] {
  color: var(--color-white);
  background-color: var(--color-black);
  border: 1px solid var(--color-white);
  border-radius: 0.5rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 18ch;
  padding: 8px;
  margin: 4px;
  transition: border 200ms ease;
}
#chatrooms form input[type=button]:hover, #chatrooms form input[type=button]:focus {
  color: var(--color-black);
  background-color: var(--color-yellow);
  font-weight: bold;
  border: 4px solid;
  transition: border 200ms ease;
}
#chatrooms #online_chat_rooms {
  padding: 1rem;
  margin: 8px;
  background-color: black;
  border-radius: 4px;
  box-shadow: 1px 2px 2px black;
  max-height: 300px;
  overflow: auto;
}

#chatroom_invitations #invitations_chat_rooms {
  background-color: var(--color-soft-blue);
  border: 2px solid var(--color-black);
  border-radius: 2px;
  padding: 8px;
  margin: 4px;
}
#chatroom_invitations #invitations_chat_rooms span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 50px;
  font-size: 18px;
  font-weight: bolder;
  margin: 2px;
}
#chatroom_invitations #invitations_chat_rooms input {
  color: var(--color-white);
  background-color: var(--color-black);
  border: 1px solid var(--color-white);
  border-radius: 0.5rem;
  padding: 8px;
  margin: 4px;
  transition: border 200ms ease;
}
#chatroom_invitations #invitations_chat_rooms input:hover, #chatroom_invitations #invitations_chat_rooms input:focus {
  color: var(--color-black);
  background-color: var(--color-yellow);
  font-weight: bold;
  border: 4px solid;
  transition: border 200ms ease;
}

#chatroom_header {
  background-color: var(--color-black);
  height: 180px;
  top: 0;
}

h1#titleroom {
  color: var(--color-white);
}

div#addbuttons {
  margin: auto;
  width: 100%;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button#editname, button#adduser {
  border: solid 0px var(--color-black);
  padding: 4px;
  margin: 2px;
  background-color: var(--color-black);
  --shadow: var(--color-black);
}
button#editname:hover, button#editname:focus, button#adduser:hover, button#adduser:focus {
  border: solid 4px var(--color-yellow);
  --shadow: var(--color-yellow);
  transition: border 180ms ease;
}
button#editname img, button#adduser img {
  filter: drop-shadow(0 0 0.75rem var(--shadow));
}
button#editname img:hover, button#adduser img:hover {
  transition: filter 400ms linear;
}

div.center {
  width: 50%;
  margin: 0 auto;
}

/*#feed_form{
  position: absolute;
  left: 500px;
  bottom: 170px;
  display: none;
}*/
input#m {
  width: 100%;
  padding: 6px;
  margin: 4px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
  border: 1px solid var(--color-white);
}
input#m:hover, input#m:focus {
  border: 1px solid var(--color-blue);
}

button.send {
  padding: 4px;
  margin: 4px;
}

/*div#my_avatar {
  left: 0px;
  bottom: 0px;
  height: 100px;
  width: auto;
}*/
#youravatar {
  position: absolute;
  left: 15px;
  bottom: 105px;
}

#usernamelogin {
  position: absolute;
  left: 15px;
  bottom: 25px;
}

input[type=text_msg] {
  background-color: var(--color-white);
  border: 1px solid var(--color-white);
  font-size: 15px;
  padding: 5px;
  width: 300px;
  margin-bottom: 3px;
  margin-top: 3px;
  outline: none;
}

/*# sourceMappingURL=style.css.map */
