div.main {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  padding: 1rem;
  width: max(75%,300px);
  background-color: var(--color-blue);
  border-radius: 2rem;
  border: solid 6px var(--color-dark-blue);
}

img.main {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75%;
  box-shadow: 1px 2px 5px rgba(0%, 0%, 0%, 50%);
}