:root {
  --main-header-height: 80px; /* used for the website's header */
  --color-blue: #006FC4;
  --color-dark-blue: #00508D;
  --color-soft-blue: #e6f7ff;
  --color-yellow: #ffd400;
  --color-white: #eff5f9;
  --color-black: #000000;
  --color-background: #eff5f9;
}