<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>NEW SOCIAL NETWORK</title>
		<link rel="stylesheet" type="text/css" href="./css/style.css" />
		<link rel="shortcut icon" href="./img/favicon.ico"/>
	</head>
<body>
	<div class="headerMenu">
		<div id ="wrapper">
			<div class="logo">
				<img src="./img/logo.png" alt="Image of the Social Network Logo"/>
			</div>
			<div id="menu">
				<a href="home.html" >Home</a>
				<a href="signup.html" >Sign Up</a>
				<a href="signin.html" >Sign In</a>
			</div>
		</div>
	</div>
		<div>
			<br /><br />
			<h2>Begin NOW!</h2>
			<br />
			<div class="homeimage">
				<p>
					<img src="./img/homepage.png" alt="Image of a representation of a social network"/>
				</p>
			</div>
		</div>
</body>
</html>