<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <title> nome rede social bue da fixe
    </title>
</head>
<body>
<div id="Join_Chat">
    <form id="Join_Chat_Form">

    </form>
</div>
<div id="feed">
    <form id="feed_form">
        <input type="text_msg" placeholder = "What are you thinking about?" id="text_feed">
        <input type="button" name="Send_img" id="Send_img" value="Send Image">
        <input type="button" name="Send_messsage" id="Send_message" value="Send Post">
    </form>
</div>
</body>
</html>