<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="shortcut icon" href="/img/favicon.ico"/>
    <title> Highlight </title>
</head>
<body>
<div class="logo">
    <!-- <img src="/img/logo.png" alt="Image of the Social Network Logo"/>
    <button href = "profile.hmtl"></button> -->
    <button alt="Image of the Social Network Logo"> <!-- onclick="window.location.href='profile.html';"> -> Ideia: dar refress ou voltar a pagina profile.html/// Problema Cannot GET /signin/profile.html -->
        <img src="/img/logo.png">
    </button>
    <!-- https://stackoverflow.com/questions/8683528/embed-image-in-a-button-element -->
</div>
<div id="Join_Chat">
    <form id="Join_Chat_Form">

    </form>
</div>
<div id="feed">
    <form id="feed_form" action="/post/" method="POST">
        <input type="text" placeholder="What are you thinking about?" id="text_feed">
        <input type="submit" name="Send_img" value="Send Image">
        <input type="submit" name="Send_messsage" value="Send Post">
    </form>
</div>
</body>
</html>