<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="shortcut icon" href="/img/favicon.ico"/>
    <title> Highlight </title>
    <script>
        $('form').submit(function () {
            socket.emit('chat message', $('#m').val());
            console.log($('#m').val());
            $('#m').val('');
            return false;
        });
        socket.on('chat message', function (msg) {
            $('#messages').append('<li style=background-color:#' + hashCode(msg.id) + '>' + (msg.id + ":" + msg.msg) + '</li>');
            window.scrollTo(0,document.body.scrollHeight);
        });
    </script>
</head>
<body>
<div class="logo">
    <!-- <img src="/img/logo.png" alt="Image of the Social Network Logo"/>
    <button href = "profile.hmtl"></button> -->
    <button> <!-- onclick="window.location.href='profile.html';"> -> Ideia: dar refress ou voltar a pagina profile.html/// Problema Cannot GET /signin/profile.html -->
        <img src="/img/logo.png" alt="Image of the Social Network Logo">
    </button>
    <!-- https://stackoverflow.com/questions/8683528/embed-image-in-a-button-element -->
</div>
<div id="Join_Chat">
    <form id="Join_Chat_Form">
    </form>
</div>
<div id="feed">

    <form id="feed_form" action="" >
        <input type="text" placeholder="What are you thinking about?" id="text_feed">
        <input type="submit" id = "Send_img" name="Send_img" value="Send Image">
        <input type="submit" id="m" name="Send_messsage" value="Send Post">
    </form>

    <div id="friends_list">
        <p>Friends online:</p>
        <ul id = "online_friends"></ul>
    </div>

    <div id = "Chat_Rooms">
        <p>Available Chat rooms:</p>
        <ul id="online_chat_rooms"></ul>
    </div>

    <div id="live_feed">
        <p>Feed:</p>
        <ul id="messages"></ul>
    </div>

</div>
</body>
</html>